<div th:fragment="supplierTable" th:replace="~{fragments/table :: table('supplier', ~{:: .data-table})}">

<table class="data-table">
    <thead>
        <tr>
            <th:block th:replace="~{fragments/table :: head}"></th:block>
            <th>Supplier Name</th>
            <th>Contact Number</th>
            <th>Address</th>
            <th>Number of items</th>
        </tr>
    </thead>

    <tbody>
        <tr th:if="${results == null || results.isEmpty()}">
            <td colspan="6"> No Suppliers </td>
        </tr>

        <tr th:each="supplierItem, iter : ${results}">
            <th:block th:replace="~{fragments/table :: row(${iter.count + pageContext.currentRow - 1}, ${supplierItem.getKey().getId()})}"></th:block>
            <td><span th:text="${supplierItem.getKey().getName()}"></span></td>
            <td><span th:text="${supplierItem.getKey().getPhoneNumber()}"></span></td>
            <td><span th:text="${supplierItem.getKey().getAddress()}"></span></td>
            <td><span th:text="${supplierItem.getValue()}">0</span></td>
        </tr>
    </tbody>
</table>

</div>