<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, supplier)}">

<body>

<label>
    <input class="form-control" type="search"
           name="query" placeholder="Begin Typing To Search Suppliers..."
           th:hx-post="@{/supplier/search}"
           hx-include="[name='page'], [name='pageSize']"
           hx-trigger="load, input changed delay:500ms, search, switchPage from:body"
           hx-target="#search-results"
           hx-indicator=".htmx-indicator">
</label>

<h3>
    Search Suppliers
    <span class="htmx-indicator">
    Searching...
   </span>
</h3>

<div id="search-results">
    <label>
        <input class="form-control" type="number"
               name="page" value=1
               min="1" max=1>
    </label>
    <label>
        <input class="form-control" type="number"
               name="pageSize" value=20
               min="1">
    </label>
</div>

</body>

</html>