<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'sales')}">

<body>

<div class="body">
    <nav class="sidebar">
        <a class="selected" th:href="@{/sales}">Sales Order</a>
        <a th:href="@{/sales/return}">Return Sales Order</a>
    </nav>

    <div class="column">
        <form th:fragment="category" th:replace="~{fragments/list_table :: list_table ('sales', 'Sales Order')}"></form>
    </div>
</div>

<div th:replace="~{fragments/create_new :: create_new (~{::.add}, 'sales')}">
    <div class="modal-body add">
        <!--        TODO: input -->
    </div>
</div>

<div th:replace="~{fragments/confirm_delete :: confirm_delete(~{::.delete}, 'sales')}">
    <div class="modal-body delete">
        <div>Confirm delete these entries.</div>
        <table class="to-delete data-table"></table>
    </div>
</div>

</body>

</html>