<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'sales')}">

<body>

<div class="body">
    <nav class="sidebar">
        <a class="selected" th:href="@{/sales}">Sales Order</a>
        <a th:href="@{/sales/return}">Return Sales Order</a>
    </nav>

    <div class="column">
        <form th:fragment="category" th:replace="~{fragments/list_table :: list_table ('sales', 'Sales Order')}"></form>
    </div>
</div>

</body>

</html>