<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::head}, ~{::body}, 'sales')}">

<head></head>

<body>

<div class="body">
    <nav class="sidebar">
        <a class="selected" th:href="@{/sales}">Sales Order</a>
        <a th:href="@{/sales/return}">Return Sales Order</a>
    </nav>

    <div class="column">
        <form th:fragment="category" th:replace="~{fragments/list_table :: list_table ('sales', 'Sales Order')}"></form>
    </div>
</div>

<div th:replace="~{fragments/create_new :: create_new (~{::.add}, 'sales')}">
    <div class="modal-body add" hx-swap="innerHTML">
        <div>
            <label for="salesDate">Sales Date</label>
            <input type="datetime-local" name="salesDate" id="salesDate" required>
        </div>
        <div>
            <label for="shipmentDate">Shipment Date</label>
            <input type="datetime-local" name="shipmentDate" id="shipmentDate" required>
        </div>
        <div>
            <label for="reference">Reference</label>
            <input type="text" name="reference" id="reference">
        </div>

        <h2>Stocks</h2>

        <button class="add" th:hx-get="@{/sales/add-stock}" hx-swap="beforeend" hx-target=".modal-body">+ Add Stock</button>
    </div>
</div>

<div th:replace="~{fragments/confirm_delete :: confirm_delete(~{::.delete}, 'sales')}">
    <div class="modal-body delete">
        <div>Confirm delete these entries.</div>
        <table class="to-delete data-table"></table>
    </div>
</div>

</body>

</html>