<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'item')}">

<body>

<div class="body">
    <nav class="sidebar">
        <a class="selected" th:href="@{/item}">Item</a>
        <a th:href="@{/item/category}">Category</a>
        <a th:href="@{/item/item-low}">Low Stock</a>
    </nav>

    <div class="column">
        <form th:fragment="category" th:replace="~{fragments/list_table :: list_table ('item', 'Items')}"></form>
    </div>
</div>

<div th:replace="~{fragments/create_new :: create_new (~{::.add}, 'item')}">
    <div class="modal-body add">
        <div>
            <label for="name">Item Name*</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
        </div>
        <div>
            <label for="basePrice">Price</label>
            <input type="number" name="basePrice" id="basePrice" step=".01">
        </div>
        <div>
            <label for="unit">Unit</label>
            <input type="text" name="unit" id="unit">
        </div>
        <div>
            <label for="categoryId">Category</label>
            <select th:hx-get="@{/item/category/options}" hx-target="this" hx-trigger="load, click from:button.add"
                    name="categoryId" id="categoryId">
                <option value="0"></option>
            </select>
        </div>
        <div>
            <label for="minStock">Minimum Stock</label>
            <input type="number" name="minStock" id="minStock">
        </div>
    </div>
</div>

<div th:replace="~{fragments/confirm_delete :: confirm_delete(~{::.delete}, 'item')}">
    <div class="modal-body delete">
        <div>Confirm delete these entries.</div>
        <table class="to-delete data-table"></table>
    </div>
</div>

</body>

</html>