<div th:fragment="table" th:replace="~{fragments/table :: table('item', ~{:: .data-table})}">

<table class="data-table">
    <thead>
        <tr>
            <th:block th:replace="~{fragments/table :: head}"></th:block>
            <th>Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Category</th>
            <th>Stock</th>
        </tr>
    </thead>

    <tbody>
        <tr th:if="${contexts == null || contexts.isEmpty()}">
            <td colspan="8"> No Items </td>
        </tr>

        <tr th:each="context, iter : ${contexts}">
            <th:block th:replace="~{fragments/table :: row(${iter.count + pageContext.currentRow - 1}, ${context.item().getId()})}"></th:block>
            <td><span th:text="${context.item().getName()}"></span></td>
            <td><span th:text="${context.item().getDescription()}"></span></td>
            <td><span th:text="${context.item().getBasePrice()}"></span></td>
            <td><span th:text="${context.item().getUnit()}"></span></td>
            <td><span th:text="${context.item().getCategory() != null ? context.item().getCategory().getName() : ''}"></span></td>
            <td><span th:text="${context.stockCount()}">0</span></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="7"></td>
            <td><span th:text="${totalStocks}">0</span></td>
        </tr>
    </tfoot>
</table>

</div>