<div th:fragment="table" th:replace="~{fragments/table :: table('item', ~{:: .data-table})}">

<table class="data-table">
    <thead>
        <tr>
            <th:block th:replace="~{fragments/table :: head}"></th:block>
            <th><label><input type="radio" name="ordering" value="Item.name" th:checked="${ordering} == 'Item.name'"> Item</label></th>
            <th><label><input type="radio" name="ordering" value="Item.description" th:checked="${ordering} == 'Item.description'"> Description</label></th>
            <th><label><input type="radio" name="ordering" value="base_price" th:checked="${ordering} == 'base_price'"> Price</label></th>
            <th><label><input type="radio" name="ordering" value="unit" th:checked="${ordering} == 'unit'"> Unit</label></th>
            <th><label><input type="radio" name="ordering" value="Category.name" th:checked="${ordering} == 'Category.name'"> Category</label></th>
            <th><label><input type="radio" name="ordering" value="number_of_stocks" th:checked="${ordering} == 'number_of_stocks'"> Stock</label></th>
        </tr>
    </thead>

    <tbody>
        <tr th:if="${contexts == null || contexts.isEmpty()}">
            <td colspan="8"> No Items </td>
        </tr>

        <tr th:each="context, iter : ${contexts}">
            <th:block th:replace="~{fragments/table :: row(${iter.count + pageContext.currentRow - 1}, ${context.item().getId()})}"></th:block>
            <td><span th:text="${context.item().getName()}"></span></td>
            <td><span th:text="${context.item().getDescription()}"></span></td>
            <td><span th:text="${context.item().getBasePrice()}"></span></td>
            <td><span th:text="${context.item().getUnit()}"></span></td>
            <td><span th:text="${context.item().getCategory() != null ? context.item().getCategory().getName() : ''}"></span></td>
            <td><span th:text="${context.stockCount()}">0</span></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="7"></td>
            <td><span th:text="${totalStocks}">0</span></td>
        </tr>
    </tfoot>
</table>

</div>