<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::head}, ~{::body}, 'stock')}">

<head></head>

<body>

<div class="body">
    <nav class="sidebar">
        <a class="selected" th:href="@{/stock}">Stocks</a>
        <a th:href="@{/stock/location}">Stock Locations</a>
    </nav>

    <div class="column">
        <form th:fragment="category" th:replace="~{fragments/list_table :: list_table ('stock', 'Stocks')}"></form>
    </div>
</div>

<div th:replace="~{fragments/create_new :: create_new (~{::.add}, 'stock')}">
    <div class="modal-body add" hx-swap="innerHTML">
        <div>
            <div>
                <label for="itemId">Item</label>
                <select th:hx-get="@{/item/options}" hx-trigger="load, click from:button.add" hx-target="this"
                        name="itemId" id="itemId" required></select>
            </div>
            <div>
                <label for="supplierId">Supplier</label>
                <select th:hx-post="@{/item/supplier-options}" hx-params="itemId" hx-trigger="click from:[name='itemId']" hx-target="this" hx-ext="ignore:json-enc"
                        name="supplierId" id="supplierId" required></select>
            </div>
        </div>
        <div>
            <label for="locationId">Location</label>
            <select th:hx-get="@{/stock/location/options}" hx-trigger="load, click from:button.add" hx-target="this"
                    name="locationId" id="locationId" required></select>
        </div>
        <div>
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" id="quantity" min="0" step="1">
        </div>
        <div>
            <label for="status">Status</label>
            <select name="status" id="status">
                <option value="OK" selected>OK</option>
                <option value="DAMAGED">DAMAGED</option>
                <option value="REJECTED">REJECTED</option>
                <option value="LOST">LOST</option>
            </select>
        </div>
        <div>
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>

<div th:replace="~{fragments/confirm_delete :: confirm_delete(~{::.delete}, 'stock')}">
    <div class="modal-body delete">
        <div>Confirm delete these entries.</div>
        <table class="to-delete data-table"></table>
    </div>
</div>

</body>

</html>