<div th:fragment="table" th:replace="~{fragments/table :: table('stock', ~{:: .data-table})}">

<table class="data-table">
    <thead>
        <tr>
            <th:block th:replace="~{fragments/table :: head}"></th:block>
            <th><label><input type="radio" name="ordering" value="Item.name" th:checked="${ordering} == 'Item.name'">Item</label></th>
            <th><label><input type="radio" name="ordering" value="Item.description" th:checked="${ordering} == 'Item.description'">Description</label></th>
            <th><label><input type="radio" name="ordering" value="quantity" th:checked="${ordering} == 'quantity'">Quantity</label></th>
            <th><label><input type="radio" name="ordering" value="status" th:checked="${ordering} == 'status'">Status</label></th>
            <th><label><input type="radio" name="ordering" value="location" th:checked="${ordering} == 'location'">Location</label></th>
            <th><label><input type="radio" name="ordering" value="last_updated_at" th:checked="${ordering} == 'last_updated_at'">Last Updated</label></th>
            <th>Purchase Order</th>
            <th>Supplier</th>
            <th>Notes</th>
        </tr>
    </thead>

    <tbody>
        <tr th:if="${contexts == null || contexts.isEmpty()}">
            <td colspan="12"> No Items </td>
        </tr>

        <tr th:each="context, iter : ${contexts}">
            <th:block th:replace="~{fragments/table :: row(${iter.count + pageContext.currentRow - 1}, ${context.stock().getId()})}"></th:block>
            <td><span th:text="${context.stock().getItem().getName()}"></span></td>
            <td><span th:text="${context.stock().getItem().getDescription()}"></span></td>
            <td><span th:text="${context.stock().getQuantity()}"></span></td>
            <td><span th:text="${context.stock().getStatus().name()}"></span></td>
            <td><span th:text="${context.stock().getLocation().getName()}"></span></td>
            <td><time th:datetime="${context.stock().getLastUpdatedAt()}"
                      th:text="${#dates.format(context.stock().getLastUpdatedAt(), 'dd-MM-yyyy')}"></time></td>
            <td><span th:text="${context.order() != null ? 'PO' + context.order().getId() : ''}"></span></td>
            <td><span th:text="${context.order() != null ? context.order().getSupplier().getName() : ''}"></span></td>
            <td><span th:text="${context.stock().getNotes()}"></span></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td><span th:text="${totalStocks}">0</span></td>
            <td colspan="6"></td>
        </tr>
    </tfoot>
</table>

</div>