<div th:fragment="table" th:replace="~{fragments/table :: table('item/category', ~{:: .data-table})}">

<table class="data-table">
    <thead>
        <tr>
            <th:block th:replace="~{fragments/table :: head}"></th:block>
            <th><label><input type="radio" name="ordering" value="name" th:checked="${ordering} == 'name'">Category Name</label></th>
            <th><label><input type="radio" name="ordering" value="description" th:checked="${ordering} == 'description'">Description</label></th>
            <th><label><input type="radio" name="ordering" value="number_of_items" th:checked="${ordering} == 'number_of_items'">Item Count</label></th>
        </tr>
    </thead>

    <tbody>
        <tr th:if="${contexts == null || contexts.isEmpty()}">
            <td colspan="12"> No Item Categories </td>
        </tr>

        <tr th:each="context, iter : ${contexts}">
            <th:block th:replace="~{fragments/table :: row(${iter.count + pageContext.currentRow - 1}, ${context.category().getId()})}"></th:block>
            <td><span th:text="${context.category().getName()}"></span></td>
            <td><span th:text="${context.category().getDescription()}"></span></td>
            <td><span th:text="${context.itemCount()}"></span></td>
        </tr>
    </tbody>
</table>

</div>