<form th:fragment="location"
      class="form-control data-container" th:hx-post="@{/stock/location/search}"
      hx-target="#results.location"
      hx-swap="outerHTML"
      hx-trigger="load">

    <div class="data-container-header">
        <h2>Stock Location</h2>
    </div>

    <div class="data-search">
        <label>
            <input type="search" name="query" placeholder="Search"
                   th:hx-post="@{/stock/location/search}"
                   hx-trigger="input[name='query'] changed delay:500ms, search">
        </label>
    </div>

    <div th:replace="~{stock/location/search :: table }" id="results" class="location"></div>

</form>