<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::head}, ~{::body}, 'location')}">

<head></head>

<body>

<div class="body">
    <nav class="sidebar">
        <a th:href="@{/stock}">Stocks</a>
        <a class="selected" th:href="@{/stock/location}">Stock Locations</a>
    </nav>

    <div class="column">
        <form th:fragment="category" th:replace="~{fragments/list_table :: list_table ('stock/location', 'Stock Locations')}"></form>
    </div>
</div>

<div th:replace="~{fragments/create_new :: create_new (~{::.modal-body}, 'stock/location')}">
    <div class="modal-body add" hx-swap="innerHTML">
        <div>
            <label for="name">Location name*</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
        </div>
    </div>
</div>

<div th:replace="~{fragments/confirm_delete :: confirm_delete(~{::.delete}, 'stock/location')}">
    <div class="modal-body delete">
        <div>Confirm delete these entries.</div>
        <table class="to-delete data-table"></table>
    </div>
</div>

</body>

</html>