<!doctype html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:fragment="layout (head, body, menu)" lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

    <title th:text="|Inven3 - ${#strings.capitalize(menu)}|">Inven3</title>

    <link rel="stylesheet" th:href="@{/resources/css/inven3.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/reset.css}" />

    <script src='https://unpkg.com/htmx.org/dist/htmx.min.js'></script>
    <script th:src='@{/resources/js/json-enc.js}'></script>
    <script th:src='@{/resources/js/inven3.js}'></script>

</head>

<body>
    <header th:if="${menu != 'login'}">
        <nav>
            <ul>
                <li><a th:href="@{/item}">Items</a></li>
                <li><a th:href="@{/supplier}">Supplier</a></li>
                <li><a th:href="@{/stock}">Stock</a></li>
                <li>|</li>
                <li><a th:href="@{/purchase}">Purchase</a></li>
                <li><a th:href="@{/sales}">Sales</a></li>
            </ul>
            <ul>
                <li><span sec:authentication="name">User</span></li>
                <li><a th:hx-post="@{/logout}" hx-trigger="click">Logout</a></li>
            </ul>
        </nav>
    </header>

    <th:block th:insert="${body}" />

</body>

</html>