<div th:fragment="table (table)" id="results">
    <!--/*@thymesVar id="currentRow" type="int"*/-->
    <!--/*@thymesVar id="totalRows" type="int"*/-->
    <!--/*@thymesVar id="currentPage" type="int"*/-->
    <!--/*@thymesVar id="totalPages" type="int"*/-->
    <!--/*@thymesVar id="pageSize" type="int"*/-->

    <span th:text="|${currentRow} of ${totalRows}|">
        1 of 1
    </span>

    <label>
        <input type="number"
               name="page" value="1" th:value="${currentPage}"
               min="1" max="1" th:max="${totalPages}">
    </label>
    <label>
        <input type="number"
               name="pageSize" value="20" th:value="${pageSize}"
               min="1">
    </label>

    <table>
        <th:block th:insert="${table}"/>
    </table>

</div>