<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::head}, ~{::body}, 'purchase')}">

<head></head>

<body>

<div class="body">
    <nav class="sidebar">
        <a class="selected" th:href="@{/purchase}">Purchase Order</a>
        <a th:href="@{/purchase/return}">Return Purchase Order</a>
    </nav>

    <div class="column">
        <form th:fragment="category" th:replace="~{fragments/list_table :: list_table ('purchase', 'Purchase Orders')}"></form>
    </div>
</div>

<div th:replace="~{fragments/create_new :: create_new (~{::.add}, 'purchase')}">
    <div class="modal-body add" hx-swap="innerHTML">
        <div>
            <label for="supplierId">Supplier</label>
            <select th:hx-get="@{/supplier/options}" hx-trigger="load, click from:button.add" hx-target="this"
                    name="supplierId" id="supplierId" required></select>
        </div>
        <div>
            <label for="purchaseDate">Purchasing Date</label>
            <input type="datetime-local" name="purchaseDate" id="purchaseDate" required>
        </div>
        <div>
            <label for="targetDate">Target Date</label>
            <input type="datetime-local" name="targetDate" id="targetDate">
        </div>
        <div>
            <label for="reference">Reference</label>
            <input type="text" name="reference" id="reference">
        </div>

        <h2>Stocks</h2>

        <button class="add" th:hx-get="@{/purchase/add-stock}" hx-swap="beforeend" hx-target=".modal-body">+ Add Stock</button>
    </div>
</div>

<div th:replace="~{fragments/confirm_delete :: confirm_delete(~{::.delete}, 'purchase')}">
    <div class="modal-body delete">
        <div>Confirm delete these entries.</div>
        <table class="to-delete data-table"></table>
    </div>
</div>

</body>

</html>