:root {
    --bg-color: #eaeaea;
    --alternative-bg-color: #fafafa;

    --link-hover-color: grey;

    --text-color: #393636;
    --alternative-text-color: white;

    --border-color: lightgray;
    --ok-color: #009c00;
    --ok-hover-color: #007c00;
    --no-color: #d80000;
    --no-hover-color: #a80000;
    --cancel-color: grey;
    --cancel-hover-color: #656565;

    --transition-duration: 0.2s
}

* {
    color: var(--text-color);
}

a {
    text-decoration: none;
    transition: color var(--transition-duration) linear;

    &:hover {
        color: grey;
    }
}

.body {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    & .sidebar {
        flex: 0 0 auto;
        border: var(--border-color) 2px solid;
        border-left: none;
        border-radius: 0 0.4em 0.4em 0;

        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;

        margin: 1.5em 0;

        background: var(--bg-color);

        & a {
            padding: 0.5em 1em;
            border-bottom: var(--border-color) 1px solid;
            border-radius: 0 0.4em 0.4em 0;

            &.selected {
                color: var(--alternative-text-color);
                background: var(--cancel-hover-color);
            }
        }
    }

    .column {
        flex: 1 0 0;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
}

body > header {
    background: var(--bg-color);

    border-bottom: var(--border-color) solid 1px;
    box-shadow: 0 3px 3px var(--border-color);

    & nav {
        margin: 0 1.5em;

        display: flex;
        flex-flow: row nowrap;

        & ul {
            list-style: none;

            display: flex;
            flex-flow: row nowrap;
            gap: 2em;

            &:first-of-type {
                margin-right: auto;
            }
        }
    }
}

.data-container {
    display: flex;
    flex-flow: column nowrap;
    width: 98%;
    gap: 1em;

    margin: 1.5em 0;
    border: var(--border-color) solid 1px;
    border-radius: 0.5em;

    > * {
        padding-left: 1em;
        padding-right: 1em;
    }

    & .data-container-header {
        padding: 1em 0.8em;
        background: var(--bg-color);
    }

    & .data-search input {
        border-radius: 5px;
        padding: 0.3em 0.6em;
    }

    & #results {
        margin: 1em 0;
        position: relative;

        display: flex;
        flex-flow: column nowrap;
        gap: 1em;

        & .data-header {
            display: flex;
            flex-flow: row nowrap;

            & div:first-of-type {
                display: inline-block;
                margin-right: auto;
            }
        }
    }
}

.data-table {
    width: 100%;
    border-spacing: 0;

    th {
        border: var(--border-color) solid 1px;
        border-bottom: var(--text-color) solid 2px;
        padding: 0.8em;
    }

    td {
        border: var(--border-color) solid 1px;
        padding: 0.5em;
    }

    & tbody {
        background: var(--bg-color);
    }

    thead, tbody {
        th, td {

            text-align: left;

            &:nth-of-type(1),
            &:nth-of-type(2) {
                text-align: center;
                width: 1em;
            }
        }
    }
}


button {
    border-radius: 0.5em;
    border: none;
    padding: 0.8em;
    font-weight: bold;
    color: var(--alternative-text-color);

    transition: background var(--transition-duration) linear;

    &.add, &.ok {
        background: var(--ok-color);

        &:hover {
            background: var(--ok-hover-color);
        }
    }

    &.delete {
        background: var(--no-color);

        &:hover {
            background: var(--no-hover-color);
        }
    }

    &.cancel {
        background: var(--cancel-color);

        &:hover {
            background: var(--cancel-hover-color);
        }
    }
}

.modal {
    font-size: 1.1em;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(70%);

    & form {
        border-radius: 1em;
        border: var(--border-color) 1px solid;

        display: flex;
        flex-flow: column nowrap;

        margin: 5% 0;

        height: 95%;
        min-width: 60%;

        & header, & footer {
            display: flex;
            flex-flow: row nowrap;
            flex-shrink: 0;
            padding: 0.5em;

            align-items: center;
            background: var(--bg-color);
        }

        & header {
            border-bottom: var(--border-color) solid 1px;
            height: 3em;

            & h2 {
                margin-right: auto;
            }

            & button.close {
                color: var(--text-color);
            }
        }

        & footer {
            border-top: var(--border-color) solid 1px;
            height: 4.5em;

            justify-content: flex-end;
            gap: 0.5em;
        }

        & .modal-body {
            background: var(--alternative-bg-color);
            padding: 0 0.8em;

            overflow-y: auto;
            height: auto;
            flex: 1 1 auto;

            & div {
                margin: 1.6em 0;

                & label {
                    font-weight: bold;
                    margin-bottom: 0.2em;
                }

                & label, input {
                    display: block;
                }

                & input, & select {
                    padding: 0.5em;
                    width: 100%;
                    background: transparent;
                    border-radius: 0.5em;
                }
            }
        }
    }
}

.modal {
    display: none;
}

