<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::head}, ~{::body}, 'Sales Return')}">

<head></head>

<body>

<div class="body">
    <nav class="sidebar">
        <a th:href="@{/sales}">Sales Order</a>
        <a class="selected" th:href="@{/sales/return}">Return Sales Order</a>
    </nav>

    <div class="column">
        <form th:fragment="category" th:replace="~{fragments/list_table :: list_table ('sales/return', 'Sales Order Returns')}"></form>
    </div>
</div>

<div th:replace="~{fragments/create_new :: create_new (~{::.add}, 'return')}">
    <div class="modal-body add" hx-swap="innerHTML">
        <div>
            <label for="salesOrderId">Sales Order</label>
            <select th:hx-get="@{/sales/options}" hx-trigger="load, click from:button.add" hx-target="this"
                    name="salesOrderId" id="salesOrderId" required></select>
        </div>
        <div>
            <label for="returnDate">Return Date</label>
            <input type="datetime-local" name="returnDate" id="returnDate">
        </div>
        <div>
            <label for="reference">Reference</label>
            <input type="text" name="reference" id="reference">
        </div>
    </div>
</div>

<div th:replace="~{fragments/confirm_delete :: confirm_delete(~{::.delete}, 'return')}">
    <div class="modal-body delete">
        <div>Confirm delete these entries.</div>
        <table class="to-delete data-table"></table>
    </div>
</div>

</body>

</html>